<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MP -- MAIN</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <style>
	html {
	position: relative;
	min-height: 100%;
	}
	body {

	margin-bottom: 60px;
	}
	.footer {
	position: absolute;
	bottom: 0;
	width: 100%;

	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
	}

	body > .container {
	padding: 60px 15px 0;
	}

	.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
	}

	code {
	font-size: 80%;
	}

	ul.mp-problems {
		text-align: center;
		list-style: none;
		text-decoration: none;
		width: 700px;
		display: block;
		padding: 0;
		border: 1px solid #bcc6bc;
	}
	ul.mp-problems li {
		width: 100%;
		background-color: #e6e6e6;
		border: 0.1em solid #f2f2f2;
	}
	ul.mp-problems li a {
		padding: 10px;
		display: block;
		color:#585b5d;
		background-color: #e6e6e6;
	}
	ul.mp-problems li a:hover {
		background-color: #f5f5f5;;
	}
	div.mp-problems-cont {
		display: block;
		margin: 0 auto !important;
		margin-top: 100px !important;
		width: 700px;
		text-align: center;
	}
    </style>
</head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Milenium Prize Problem Assistant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/list">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leaders">Leaderboard</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" action="/logout" method="get">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <div class="mp-problems-cont">
        <h3>Current leaders:</h3>
        <ul class="mp-problems">
                <li >
                    <a>No one has solved any yet. Be the first!</a>
                </li>
        </ul>
    </div>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Milenium Prize Problem Assistant &copy; 2018-2019</span>
    </div>
</footer>

<script th:src="@{/jquery/jquery.min.js}"></script>
</body>
</html>
