<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MP -- TITLE</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
	html {
	position: relative;
	min-height: 100%;
	}
	body {

	margin-bottom: 60px;
	}
	.footer {
	position: absolute;
	bottom: 0;
	width: 100%;

	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
	}

	body > .container {
	padding: 60px 15px 0;
	}

	.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
	}

	code {
	font-size: 80%;
	}

	div.mp-problems-cont {
		display: block;
		margin: 0 auto !important;
		margin-top: 50px !important;
		width: 700px;
		text-align: center;
	}
	p.mp-desc {
		background-color: #f3f3f3;
		padding: 20px;
	}
	.mp-comment {
		margin-top:20px;
		text-align: left;
	}
	span.mp-comment-time {
		float: right;
		font-size: 10px;
	}
	hr {
		padding: 0;
		margin: 0;
	}
	.mp-comment-text {
		padding: 20px;
		font-size: 14px;
	}
	.mp-comment-title {
		text-align: left !important;
	}
    </style>
</head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Milenium Prize Problem Assistant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/list">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leaders">Leaderboard</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" action="/logout" method="get">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <i class="mp-problems-cont">
        <h3 th:text="${mp.getName()}"></h3>
        <p class="mp-desc" th:text="${mp.getDescription()}"></p>
        <i><p class="mp-desc" th:text="${message}"></p></i>
        <form style="text-align:right; margin-top: 40px;" method="post" th:action="'/problem/' + ${mp.id}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="pic" style="float: left;">file: </label>
                <input type="file" name="pic" class="form-control-file" id="pic">
            </div>
            <div class="form-group">
                <textarea name="text" class="form-control" placeholder="Write a note here..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h3 class="mp-comment-title">Notes:</h3>

        <th:block th:each="note : ${mp.getUserNotes()}">
            <div class="mp-comment">
                <span class="mp-comment-time" th:text="'by ' + ${note.getAuthor()} + ' at ' + ${note.getDate()}">by admin</span>
                <div style="clear:both;"></div>
                <hr>
                <p class="mp-comment-text" th:text="${note.getText()}"></p>
                <p th:if="${note.getPicture_uri()}">file: <a th:href="${note.getPicture_uri()}" th:text="${note.getPicture_uri()}"></a></p>
            </div>
        </th:block>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Milenium Prize Problem Assistant &copy; 2018-2019</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>
